.container {
    display: flex;
    height: 100vh;
  }
  
  .header {
    width: 250px;
    background-color: #AB171C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
  }
  
  .logoContainer {
    margin-bottom: 2rem;
  }
  
  .logo {
    width: 100%;
    height: auto;
  }
  
  .nav {
    flex-grow: 1;
    width: 100%;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .nav ul li {
    width: 100%;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav ul li a:hover {
    background-color: #fff;
    color: #AB171C;
  }
  
  .signOutButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #AB171C;
    border: 2px solid #AB171C;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .signOutButton:hover {
    background-color: #AB171C;
    color: #ffffff;
  }
  
  .main {
    flex-grow: 1;
    padding: 2rem;
    background-color: #f0f0f0;
  }
  
  .cardsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .card h2 {
    margin-bottom: 0.5rem;
    color: #ab171c;
  }
  
  .card p {
    margin: 0;
    color: #555;
  }
  
  .footer {
    text-align: center;
    padding: 1rem;
    background-color: #AB171C;
    color: #fff;
  }
  