.homeContainer {
  height: 100vh;
}

.mainContainer {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100% !important;
}

.header {
  width: 250px;
  background-color: #AB171C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
  height: 100vh;
}

.logoContainer {
  margin-bottom: 2rem;
}

.logo {
  width: 100%;
  height: auto;
}

.nav {
  flex-grow: 1;
  width: 100%;
}

.navul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navli {
  width: 100%;
}

.navli {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem 0;
  transition: background-color 0.3s, color 0.3s;
}

.navli:hover {
  background-color: #fff;
  color: #AB171C;
}

.buttonContainer {
  margin-top: 480px;
  position:fixed;
}

.signOutButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #AB171C;
  border: 2px solid #AB171C;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.signOutButton:hover {
  background-color: #AB171C;
  color: #ffffff;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  width: 100%;
  background-color: #f0f0f0;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.card h2 {
  margin-bottom: 0.5rem;
  color: #ab171c;
}

.card p {
  margin: 0;
  color: #555;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #AB171C;
  color: #fff;
}

.backBtn {
  color: black;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.backBtn:hover {
  background-color: #dcdcdc;
  border-color: darkgray;
  color: black;
}

.eBtn {
  color: black;
  width: 130px;
  margin-top: 0;
  background-color: #f0f0f0;
  border: 2px solid gray;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.eBtn:hover {
  background-color: #dcdcdc;
  border-color: darkgray;
  color: black;
}

.postBtn {
  color: black;
  margin-top: 0;
  background-color: #f0f0f0;
  border: 2px solid gray;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.postBtn:hover {
  background-color: #dcdcdc;
  border-color: darkgray;
  color: black;
}

.btnContainer {
  float: right;
  margin-bottom: 30px;
}

.freeboard {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px 20px 15px 20px;
  display: flex;
  margin-left: 2px;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 60%;
  min-height: 600px;
}

@media (max-width: 800px) {
  .freeboard {
    width: 60%;
    box-sizing: border-box;  
  }
}

.postCard {
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
}

.cardImg {
  width: 100px;
  height: 64px;
}

.dropdown {
  margin-right: 20px;
}

.dropdownMenu {
  color: black;
  background-color: white;
  border-color: darkgray;
}

.dropdownMenu:hover {
  background-color: gray;
  border-color: darkgray;
}

.postImage {
  margin-top: 20px;
}

.image {
  height: 60%;
  width: 95%;
}

.image img {
  margin-top: 10px;
  height: 320px;
  width: 400px;
}

.dBtn {
  margin-left: 20px;
  margin-right: 22px;
  background-color: #AB171C;
  width: 130px;
  color: white;
  border-color: #AB171C;
}

.dBtn:hover {
  background-color:gray;
  border-color: darkgray;
}

.cancelBtn {
  margin-left: 20px;
  background-color: #AB171C;;
  color: white;
  border-color: #AB171C;
}

.cancelBtn:hover {
  background-color:gray;
  border-color: darkgray;
}

.postContainer {
  display: flex;
  flex-direction: column;
}

.postTitle {
  margin-top: 20px;
}

.postContent {
  margin-top: 20px;
  height: 70%;
}

.content {
  margin-top: 20px;  
  height: 30vh;
}

.createPost {
  height: 100%;
}

.postSection {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.post {
  margin-top: 10px;
  margin-bottom: 1.8rem; 
  width: 100%;
}

.texts {
  text-decoration:none;
  color: inherit;
}

.postHeader {
  width:83%;
}

.postImageCard {
  margin-right: 50px;
}

.postImageCard img {
  width: 120;
  height: 80px;
  object-fit: cover;
}

.freeboardContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.commentsSection {
  border: 2px solid gray;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

/* FADE ANIMATIONS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

/* SIDEBAR */

.sidebar__button {
  align-self: flex-start; 
  background: transparent;
  padding: 5px;
  margin-left: 1.2rem;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  transition: 0.3s linear;
}

.sidebar {
  width: 250px;
  background-color: #AB171C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;

  position: relative;
  height: 100vh;
  background-color: #AB171C;
  color: white;
  transition: 0.4s ease-in;
}

.sidebarClosed {
  width: 65px; 
}

.sidebar__listItem {
  margin: 30px 10px;
  display: flex;
  height: 20px;
}

.sidebar__listItem span {
  white-space: nowrap;
}

.sidebar__icon {
  margin: 0 15px 0 0;
}
